name: Deploy to Server

on:
  push:
    branches:
      - main  # Ganti jika branch production kamu berbeda

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd /home/user/app  # Ganti dengan path project di server
            git pull origin main
            npm install
            npx sequelize-cli db:migrate
            pm2 restart all
