name: Deploy Production Server

on:
  push:
    branches: [prod]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup SSH Key
        run: |
           mkdir -p ~/.ssh
           echo "${{ secrets.SSH_PRIVATE_KEY_PROD }}" > ~/.ssh/id_rsa
           chmod 600 ~/.ssh/id_rsa
           ssh-keyscan -H -p 64000 36.50.77.55 >> ~/.ssh/known_hosts
      - name: Deploy using SSH
        run: |
          ssh ${{ secrets.USERNAME_PROD }}@36.50.77.55 -p 64000 '~/./deploybe.sh'
